{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% bootstrap_css %}
    <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <center>
            <h4>Qual sala você gostaria de entrar?</h4><br>
            <input id="nome_sala"  name="nome_sala" type="text" size="100" placeholder="Nome da sala..." /><br>
            
            {% buttons %}
                <input id="botao" class="btn btn-primary" type="button" value="Entrar" />
            {% endbuttons %}
        </center>
    </div>

    <script>
        document.querySelector('#nome_sala').focus();
        document.querySelector('#nome_sala').onkeyup = function(e) {
            if(e.keyCode === 13) {
                document.querySelector('#botao').click();
            }
        };

        document.querySelector('#botao').onclick = function(e) {
            let nome_sala = document.querySelector('#nome_sala').value;

            if(nome_sala != ""){
                window.location.pathname = '/chat/' + nome_sala + '/';
            }
            else{
                alert('Você precisa informar o nome da sala.');
                document.querySelector('#nome_sala').focus();
            }
        };
    </script>


    {% bootstrap_javascript jquery='full' %}
</body>
</html> 